/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
	
}
.container{
	padding:20px;
	background-color:#f5f5f5;
}
.testimonial{
	padding:15px;
	border:1px solid black;
	background-color:white;
}
h2{
	font-size:22px;
	font-weight:bold;
}
.author{
	text-align:right;
	font-style:italic;
}
